body {
	margin:0 auto;
	padding:0;
	font-family:sans-serif;
	background:#000;
}

header {
	position:fixed;
	display: flex;
	top:0;
	left:0;
	justify-content: space-between;
	width:100%;
	height:60px;
	color:#fff;
	background:#000;
	padding:2px 50px;
	margin:0;
	box-sizing:border-box;
	z-index:900;
}

header div{
  width: 50%;
  padding: 7px 0;
  text-align: right;
  color:#fff;
}

header div:first-child{
  text-align: left;
}
main{	
	box-sizing:border-box;
}
section{
	padding:0;
	margin:0;
	width:100%;
	min-height:100vh;
	box-sizing:border-box;
}

.social_links {
	line-height: 45px;
 	font-size:1.2em;
}

.social_links a{
	color:#fff;
	padding:0 10px;
}

/*nav{
	display:block;
	opacity:0;
	background:#000;
	position:fixed;
	top:0;
	left:0;
}

nav:hover {
	display:block;
}

nav ul{
	
}

nav ul li {

}

nav ul li a{
	color:#fff;
}

nav  ul li a:hover{

}*/

nav a {
  text-decoration: none;
  color: #fff;  
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff2936;
}

nav ul li {
	list-style-type:none;
	line-height:1.4em;
	width:40vw;
}

#menuToggle {
  display: block;
  position: relative;
  top: -35px;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: #fff;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #888888;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 155px;
  padding-left: 200px;
  background-color: #000;
  background:url('images/menu.jpg') 0 0;
  background-size:contain;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  font-size:1.2em;
}

#menu li {
  padding: 10px 0;
  font-weight:200;
  text-transform:uppercase;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu li div{
	color:#837676;
	text-align:right;
	border:1px solid #837676;
	text-transform:none;
	padding:20px;
	margin:20px 0;
}

#menu li div a{
	color:#837676;
}

#home {
	position:relative;
	background:url('images/home.jpg') no-repeat top center;
	background-size:cover;
	background-attachment:fixed;
	text-align:right;
	border-bottom:70px solid black;
	box-sizing:border-box;
}
#home h1 {
	position:absolute;
	right:10vh;
	top:25%;
	color:#888888;
	font-size:2.2em;
	text-transform:uppercase;
	font-weight:normal;
}
#home h1 span{
	font-size:1.5em;
}
#home h1 b{
	font-size:1.2em;
	font-weight:normal;
}

.logo{
	position:absolute;
	bottom:6vh;
	right:10vh;
}

.logo img{
	width:42vw;
}

#about {
	background:url('images/about.jpg') no-repeat top center;
	background-size:cover;
	background-attachment:fixed;
	padding-left:50px;
}
#about h2 {
  color:#fff;
  font-weight:300;
  padding-top:36px;
  display:inline-block;
  font-size: 4.1em;
  text-transform: uppercase;
  margin-bottom:0;
}

#about h2 small {
  background:rgba(255,255,255,0.5);
  padding:10px;
  padding-top:120px;
  color:#000;
  font-size: 0.5em;
}

#about ul{
	margin-left:0;
	padding-left:0;
}
#about ul li{
	list-style-type:none;
	line-height:35px;
}
#about ul li a{
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bolder;
}
#about ul li a:hover{
	color:white;	
}
#about ul li a.active{
	color:#fff;
}
#about article{
	display:none;
	width:35%;
	background:rgba(0,0,0,0.3);
	margin-top:100px;
	padding:20px 100px 40px 100px;
	margin-left:-100px;
	color:#fff;
	line-height:1.5;
}	
#about article#summary{
	display:block;
}

#my_works {
	background:url('images/works.jpg') no-repeat top center;
	background-size:cover;
	background-attachment:fixed;
	padding-left:50px;
}

#my_works h2, #video h2, #photo h2 {
  color:#ff2936;
  font-weight:300;
  padding-top:36px;
  display:inline-block;
  font-size: 4.1em;
  text-transform: uppercase;
  margin-bottom:0;
}

#my_works h2 small, #video h2 small, #photo h2 small {
  background:#ff2936;
  padding:10px;
  padding-top:120px;
  color:#000;
  font-size: 0.5em;
}

#my_works div {
	display:flex;
	justify-content: center;
	align-items:center;
	min-height:70vh;
	border:1px solid red;
}

#my_works div a{
	color:#b3a4a4;
	font-size:3em;
	margin:0 20px;
	text-decoration:none;
}
#my_works div a:hover{
	color:#fff;
}
#video, #photo{
	padding: 0 50px;
	min-height:100vh;
}
#video h3, #photo h3, #video h4, #photo h4{
	text-align:right;
	font-weight:normal;
}
#video h3 a, #photo h3 a{
	font-size:1.2em;
	color:#958686;
	margin:0 10px;
	text-decoration:none;
}
#video h4 a, #photo h4 a{
	color:#958686;
	margin:0 10px;
	text-decoration:none;
}

#video h3 a:hover, #photo h3 a:hover{
	font-size:1.2em;
	color:#fff;
}

#video h4 a:hover, #photo h4 a:hover{
	color:#fff;
	text-decoration:underline;
}

#video h3 a.active, #video h3 a:active, #photo h3 a.active, #photo3 a:active{
	font-size:2em;
	color:#fff;
}

.portfolio {
	display:flex;
  	justify-content: flex-start;
  	align-items:center;
  	align-content:center;
  	flex-wrap:wrap;
}

.portfolio a{
	display:block;
	width: 25%;
    height: 280px;
    border:5px solid black;
    box-sizing:border-box;
    background:url(images/about.jpg) 50% 30%;
    background-size:cover;
}

.portfolio a p{
	display:flex;
	justify-content: center;
  	align-items:center;
  	flex-direction:column;
	opacity:0;
	background:rgba(0,0,0,0.6);
	color:white;
	width:100%;
	height:100%;
	margin:0;
	transition: opacity .8s ease;
	text-align:center;
}

.portfolio a p:hover{
	opacity:1;	
}

#photo .portfolio a {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  transition: filter .8s ease;
}

#photo .portfolio a:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none; /* IE 6-9 */
  opacity:1;	
}

#photo .portfolio a p{
	background:none;
	justify-content: flex-end;
}

#photo .portfolio a p b{
	display:inline-block;
	padding:5px;
	background:black;
	color:white;
	width:100%;
}

#contact_form {
	background:url('images/contact.jpg') no-repeat top center;
	background-size:cover;
	background-attachment:fixed;
	display:inline-flex;
	align-items:flex-end;
	color:white;
}

#contact_form article {
	background:rgba(0,0,0,0.4);
	min-height:67vh;
	width:100vw;
	text-align:right;
	box-sizing:border-box;
	padding-right:100px;
}
#contact_form h2{
	color:white;
	font-weight:300;
 	padding-top:0px;
  display:inline-block;
  font-size: 3em;
 	text-transform: uppercase;
  margin-bottom:0;
}

#contact_form h2 small {
  padding:10px;
  font-size: 0.5em;
}

#contact_form form{
	display:inline-block;
 	text-align:left;
}
 
#contact_form form p{
  	margin:7px 0;
}
 
#contact_form form input{
 	width:100%;
 	box-sizing:border-box;
 	height:4vh;
 	border:1px solid white;
 	background-color:rgba(255,255,255,0.7);
 	padding:0 15px;
 	color:#000;
 }
 
#contact_form form textarea{
 	width:40vw;
 	box-sizing:border-box;
 	height:20vh;
 	border:1px solid white;
 	background-color:rgba(255,255,255,0.7);
 	padding:10px 15px;
 }
 
#contact_form form input[type=submit]{
 	box-sizing:border-box;
 	height:6vh;
 	border:1px solid white;
 	background-color:#000;
 	color:#fff;
 	text-transform:uppercase;
 	border:none;
 	font-size:1.2em;
}

footer {
	display:flex;
	justify-content: space-between;
	align-items:center;
	width:100%;
	height:60px;
	color:#958686;
	background:#000;
	padding:2px 80px 2px 50px;
	box-sizing:border-box;
	font-size:1.4em;
}
footer div small {
	font-size:0.6em;
}